/* Proyecto Hanyu */


/************************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-fondo: hsl(60, 22%, 96%);
  --color-primario: hsl(343, 77%, 57%);
  --color-secundario: hsl(343, 50%, 60%);
  --color-sobre-primario: white;
  --color-sobre-secundario: white;

  --fuente-primaria: Arial, Helvetica, sans-serif;;
  --fuente-primaria-dimension : 16px;
}

/************************************************************************/

.lienzo {

  font-family: var(--fuente-primaria);
  background-color: var(--color-fondo);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
.cabecera {
  background-color: var(--color-primario);
  color: var(--color-sobre-primario);
  padding: calc(var(--fuente-chino-dimension));
  text-align: center;
}

.cuerpo {
  font-family: var(--fuente-chino);
  font-size: var(--fuente-chino-dimension);
  padding: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.pie {
  background-color: var(--color-secundario);
  color: var(--color-sobre-secundario);
  padding: 0.7rem;
}