/* Proyecto Hanyu */

.listaOpciones {
  margin-top: 1.4rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.itemOpciones {
  background-color: var(--color-secundario);
  color: var(--color-sobre-secundario);
  padding: 0.3rem 0.6rem;
}
