/* Han Yu */

/****************************************************/
.contenedorAjustes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.control {
  display: flex;
  gap: 0.5em;
}

.conmutador {
  font-size: 2em;
}
