/* Proyecto HanYu */

.contenedorMecanografia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8em;

  --tamaño-fuente: calc(2 * var(--fuente-chino-dimension));

}

/* ************************************ */
.panelPalabraDeMuestra {
  width: calc(7 * var(--tamaño-fuente));
  height: calc(3* var(--tamaño-fuente));
  border: 0.1em solid var(--color-primario);
  border-radius: 15px;
  text-align: center;
}

.palabra {
   font-size: var(--tamaño-fuente);
}

/* ************************************ */
.panelPalabraDeEntrada {
  border: 0.1em solid var(--color-primario);
}

.entrada {
  font-size: calc(0.3 * var(--fuente-dimension));
}
