* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.area {
  display: grid;
  place-items: center;
  gap: 0.9em;
}

.titulo {

  border-bottom: 3px solid black;
}

.entradas{
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: left;
  gap: 0.7em;
  font-size: 1.5em;
}

/* .entradas__entrada {
} */

.botones{
  display: flex;
  justify-content: center;
  gap: 0.7em;
  padding-top: 0.5em;

}

.botones__boton {
  padding: 0.3em 0.5em;
}