/* Proyecto HanYu */

.contenedorMecanografia {
  width: clamp(500px, 90%, 800px);
  background-color: var(--color-primario-claro);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

/* ************************************ */

.panelControles {
  /* width: 100%; */
  background-color: var(--color-primario-claro);

  display: flex;
  justify-content: center;
  gap: 1.3em;
}

.cambio {
  background-color: var(--color-secundario);

  cursor: pointer;

  padding: 0.4em 1.2em;
  border-radius: 10px;
}

/* ************************************ */

/* MEJORA  Cambiar el nombre a panel__marcadores */
.panelMarcador {
  display: flex;
  justify-content: space-around;
  gap: 0.8em;
}

/* MEJORA: Cambiar el nombre a .marcador */
.datoNumerico {
  background-color: var(--color-primario);
  color: var(--color-sobre-primario);

  padding: 0.2em 0em;
  border-radius: 7px;

  display: inline-block;
  width: 3em;
  text-align: center;
}

/* ************************************ */
.panelPalabraDeMuestra {
  width: 70%;
  background-color: var(--color-primario);
  color: var(--color-sobre-primario);

  padding: 1em;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.palabra {
  width: 33%;
  background-color: var(--color-secundario);
  color: var(--color-sobre-secundario);
  font-size: 2em;
  border-radius: 7px;
  text-align: center;
}

/* ************************************ */
.panelPalabraDeEntrada {
  width: 60%;
  padding: 1em 0.5em;
  text-align: center;
}
