/* Proyecto Hanyu */

.contenedorInicio {
  width: 100%;
  padding: 1.7em;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  --fuente-dimension: 2em;
}

.panelDePalabras {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(9em, auto));
  gap: 0.2em;
}

.palabra {
  padding: 0.3em;
  font-size: var(--fuente-dimension);
  text-align: center;
  width: calc(2.5 * var(--fuente-dimension));
}

.palabra:hover {
  outline: 2px solid var(--color-secundario);
}

.panelDeControl {
  display: flex;
  justify-content: center;
  gap: 03em;
}

.boton {
  font-size: calc(0.5 * var(--fuente-dimension));
  padding: 0.3em 0.5em;
}
